<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>{{content}}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis minus facere ducimus, accusamus quae soluta quia quo ipsa blanditiis earum ipsum itaque hic, qui odio vero mollitia expedita provident. Tempore.</p>
    {% for hello in range(10) %}
        {% if hello % 2 == 1 %}
            <p>{{hello}}</p>
            <!-- <p>hello</p> -->
        {% endif %}
    {% endfor %}
</body>
</html>